@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  height: 100%;
  width: 100%;
}

.post {
  width: 33%;
  height: fit-content;
  padding-bottom: 6rem;
  padding-top: 1rem;
  background-color: #f8f8ff;
  position: relative;
}

.post:hover {
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  scale: 105%;
}

.textOverflow {
  overflow-wrap: break-word;
}
